<app-navbar></app-navbar>
<section class="container-cuenta">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm">

                <div class="row pb-0">
                    <div class="col">
                        <div class="row justify-content-between">
                            <h4 class="title-red">Mis favoritos</h4>
                            <ul class="nav nav-tabs tab-red" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#parqueaderos" role="tab" aria-controls="parqueaderos" aria-selected="true">Parqueaderos</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#eventos" role="tab" aria-controls="eventos" aria-selected="false">Eventos</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#promociones" role="tab" aria-controls="promociones" aria-selected="false">Promociones</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content row" id="myTabContent">
                            <div class="tab-pane fade show active" id="parqueaderos" role="tabpanel" aria-labelledby="parqueaderos-tab">
                                <div class="row">
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Parqueadero de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Parqueadero de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Parqueadero de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="eventos" role="tabpanel" aria-labelledby="eventos-tab">
                                <div class="row">
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Evento de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Evento de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Evento de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="promociones" role="tabpanel" aria-labelledby="promociones-tab">
                                <div class="row">
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Promoción de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Promoción de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pt-4">
                                        <div class="card card-cuenta card-style1">
                                            <div class="card-body">
                                                <div class="media">
                                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                                    <div class="media-body">
                                                        <h5 class="mt-0 mb-1 text-red2 text-font16">Promoción de prueba</h5>
                                                        <p class="mb-0 text-gray-color2 text-font13">Carrera 1 No. 27 - 23</p>
                                                        <p class="mb-1 text-gray-color2 text-font13">Agregado: <b>16/08/2020</b></p>
                                                        <div class="pt-2 pb-1">
                                                            <button class="btn btn-gray-sm-outline mr-2 font-weight600">Ver más</button>
                                                            <button class="btn btn-red-sm-outline font-weight600">
                                                                <img src="./assets/img/cuenta/hearth.svg" class="mr-1" alt="...">
                                                                Favorito
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer2></app-footer2>