<app-navbar></app-navbar>
<section class="container-cuenta">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm">
                <div class="pb-0">
                    <h4 class="title-red">Métodos de pago</h4>
                    <div class="card card-cuenta">
                        <div class="card-body datos-personales">
                            <div class="row pl-3 pr-3">
                                <div class="accordion accordion-custom w-100" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <img class="mr-3" src="./assets/img/cuenta/credito.svg"><span>Tarjeta de crédito</span>
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                                on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                                occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <img class="mr-3" src="./assets/img/cuenta/pago.svg"><span>Pago con débito</span>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <p>Contamos con muchas opciones de pago</p>
                                                <img class="mb-3" src="./assets/img/cuenta/pasarelas.png"><span>Pago con débito</span>
                                                <form class="">
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="input-group mb-2">
                                                                <label class="w-100">Banco
                                                                <select class="form-control form-control">
                                                                    <option value="1">Bancolombia</option>
                                                                    <option value="2">AV Villas</option>
                                                                    <option value="3">Davivienda</option>
                                                                </select></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm">
                                                            <div class="input-group mb-2">
                                                                <label class="w-100">Nombre del títular
                                                                <input type="text" class="form-control form-control"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="input-group mb-2">
                                                                <label class="w-100">Tipo de persona
                                                                <select class="form-control form-control">
                                                                    <option value="1">Natural</option>
                                                                    <option value="2">Juridico</option>
                                                                </select></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm">
                                                            <div class="input-group mb-2">
                                                                <label class="w-100">Tipo de documento
                                                                <select class="form-control form-control">
                                                                    <option value="1">Cédula de ciudadania</option>
                                                                    <option value="2">Cédula de extranjeria</option>
                                                                </select></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <div class="input-group mb-2">
                                                                <label class="w-100">Documento de identificación
                                                                <input type="text" class="form-control form-control"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm">
                                                            <div class="input-group mb-2">
                                                                <label class="w-100">Teléfono
                                                                <input type="text" class="form-control form-control"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pt-2">
                                                        <div class="col-sm mb-2 text-center">
                                                            <button type="submit" class="btn btn-red btn-red2 text-font13 pr-5 pl-5">Seleccionar</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer2></app-footer2>