<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="p-0 h-100 bg-white collapse overflow-scroll fade" id="filters-advanced">
            <div class="container-filters-advanced col-sm pt-6 ">
                <p class="text-black-gray m-0">TIPO DE PARQUEADERO</p>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group form-check form-check-inline check-red-rounded pt-3 d-block">
                            <input class="form-check-input" type="radio" id="publico" name="tipo" value="inlineRadioOptions">
                            <label class="form-check-label text-font20 d-block" for="publico">
                                <img src="./assets/img/cuenta/parking-icon-p.svg"> Público
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check form-check-inline check-red-rounded pt-3 d-block">
                            <input class="form-check-input" type="radio" id="privado" name="tipo" value="inlineRadioOptions">
                            <label class="form-check-label text-font20 d-block" for="privado">
                                <img src="./assets/img/filters/privado.png"> Privado
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="text-black-gray m-0">TIPO DE VEHÍCULO</p>
                <div class="form-row pt-3">
                    <div class="col">
                        <div class="form-group form-check form-check-inline check-red-rounded d-block">
                            <input class="form-check-input" type="radio" id="sedanAdvanced" name="vehiculos" value="inlineRadioOptions">
                            <label class="form-check-label text-font13 d-block p-1" for="sedanAdvanced">
                                <img src="./assets/img/filters/sedanSVG.svg"> Sedan
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check form-check-inline check-red-rounded d-block">
                            <input class="form-check-input" type="radio" id="camionetaAdvanced" name="vehiculos" value="inlineRadioOptions">
                            <label class="form-check-label text-font13 d-block p-1" for="camionetaAdvanced">
                                <img src="./assets/img/filters/camionetaSVG.svg"> Camioneta
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group form-check form-check-inline check-red-rounded d-block">
                            <input class="form-check-input" type="radio" id="vanAdvanced" name="vehiculos" value="inlineRadioOptions">
                            <label class="form-check-label text-font13 d-block p-1" for="vanAdvanced">
                                <img src="./assets/img/filters/vanSVG.svg"> Van
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-check form-check-inline check-red-rounded d-block">
                            <input class="form-check-input" type="radio" id="busAdvanced" name="vehiculos" value="inlineRadioOptions">
                            <label class="form-check-label text-font13 d-block p-1" for="busAdvanced">
                                <img src="./assets/img/filters/busSVG.svg"> Bus
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group form-check form-check-inline check-red-rounded d-block">
                            <input class="form-check-input" type="radio" id="motocicletaAdvanced" name="vehiculos" value="inlineRadioOptions">
                            <label class="form-check-label text-font13 d-block p-1" for="motocicletaAdvanced">
                                <img src="./assets/img/filters/motocicletaSVG.svg"> Motocicleta
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-check form-check-inline check-red-rounded d-block">
                            <input class="form-check-input" type="radio" id="biciAdvanced" name="vehiculos" value="inlineRadioOptions">
                            <label class="form-check-label text-font13 d-block p-1" for="biciAdvanced">
                                <img src="./assets/img/filters/bicicletaSVG.svg"> Bicicleta
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="text-black-gray m-0">RANGO DE PRECIO</p>
                <div class="form-group pt-3">
                    <input type="range" class="form-control-range" id="formControlRange">
                </div>
                <hr>
                <p class="text-black-gray m-0">CARACTERÍSTICAS</p>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="caracteristicas1">
                    <label class="form-check-label text-gray-light2" for="caracteristicas1">
                      Vigilancia
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="caracteristicas2">
                    <label class="form-check-label text-gray-light2" for="caracteristicas2">
                      Valet Parking
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="caracteristicas3">
                    <label class="form-check-label text-gray-light2" for="caracteristicas3">
                      Circuito cerrado
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="caracteristicas4">
                    <label class="form-check-label text-gray-light2" for="caracteristicas4">
                      Rampas de acceso (discapacitados)
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="caracteristicas5">
                    <label class="form-check-label text-gray-light2" for="caracteristicas5">
                      Parqueadero cubierto
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="caracteristicas5">
                    <label class="form-check-label text-gray-light2" for="caracteristicas5">
                      Pavimentado
                    </label>
                </div>
                <hr>
                <p class="text-black-gray m-0">HORARIO DISPONIBLE</p>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="horario1">
                    <label class="form-check-label text-gray-light2" for="horario1">
                      24/7
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="horario2">
                    <label class="form-check-label text-gray-light2" for="horario2">
                      Lunes a viernes 24 horas
                    </label>
                </div>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="horario3">
                    <label class="form-check-label text-gray-light2" for="horario3">
                      Lunes a viernes
                    </label>
                </div>
                <hr>
                <p class="text-black-gray m-0">PROMOCIONES</p>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="checkbox" value="" id="promocionesAdvanced">
                    <label class="form-check-label text-gray-light2" for="promocionesAdvanced">
                      Promociones
                    </label>
                </div>
                <hr>
                <p class="text-black-gray m-0">PUNTUACIÓN</p>
                <span class="d-flex align-items-center justify-content-between form-group pb-5">
                    <ul class="d-flex mb-0">
                        <li>
                            <label class="form-check-label text-gray-light2" for="puntuacion">
                            <input class="form-check-input" type="checkbox" value="" id="puntuacion">
                            <img src="./assets/img/cuenta/starfill.svg"></label>
                        </li>
                        <li>
                            <label class="form-check-label text-gray-light2" for="puntuacion">
                            <input class="form-check-input" type="checkbox" value="" id="puntuacion">
                            <img src="./assets/img/cuenta/starfill.svg"></label>
                        </li>
                        <li>
                            <label class="form-check-label text-gray-light2" for="puntuacion">
                            <input class="form-check-input" type="checkbox" value="" id="puntuacion">
                            <img src="./assets/img/cuenta/starfill.svg"></label>
                        </li>
                        <li>
                            <label class="form-check-label text-gray-light2" for="puntuacion">
                            <input class="form-check-input" type="checkbox" value="" id="puntuacion">
                            <img src="./assets/img/cuenta/starfill.svg"></label>
                        </li>
                        <li>
                            <label class="form-check-label text-gray-light2" for="puntuacion">
                            <input class="form-check-input" type="checkbox" value="" id="puntuacion">
                            <img src="./assets/img/cuenta/starfill.svg"></label>
                        </li>
                    </ul>
                </span>
            </div>
            <div class="container-result col-sm pt-4 pb-4 bg-white-p sticky-bottom text-center">
                <button class="btn w-100 results mb-2">Mostrar resultados</button>
                <button class="btn w-100 erase">Limpiar filtros</button>
            </div>
        </div>
    </div>
</div>