<footer>
    <div class="prefooter pb-3 pt-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm">
                    <ul>
                        <li><a href="#" target="blank_">Política de privacidad</a></li>
                        <li><a href="#" target="blank_">Términos de uso</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul>
                        <li><a href="#" target="blank_">Vista de accesibilidad</a></li>
                        <li><a href="#" target="blank_">Aviso legal</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul>
                        <li><a href="#" target="blank_">Trabaja con nosotros</a></li>
                        <li><a href="#" target="blank_">Política de cookies</a></li>
                    </ul>
                </div>
                <div class="col-sm redes">
                    <p class="text-center">Nuestra redes</p>
                    <div class="row align-items-center justify-content-center">
                        <a href="#" target="blank_">
                            <img src="./assets/img/home/footer_linkedin.svg" class="img-fluid" alt="Responsive image">
                        </a>
                        <a href="#" target="blank_">
                            <img src="./assets/img/home/footer_instagram.svg" class="img-fluid" alt="Responsive image">
                        </a>
                        <a href="#" target="blank_">
                            <img src="./assets/img/home/footer_facebook.svg" class="img-fluid" alt="Responsive image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy pt-3 pb-3">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <span>Derechos de autor 2020 Ideamos más. Todos los derechos reservados.</span>
            </div>
        </div>
    </div>
</footer>