<footer class="main-footer">
    <div class="prefooter pb-4 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <ul>
                        <li><a href="#" target="blank_">¿Quienes somos?</a></li>
                        <li><a href="#" target="blank_">Condiciones de uso y contratación</a></li>
                        <li><a href="#" target="blank_">Blog</a></li>
                        <li class="pt-5">
                            <a href="#" class="pr-4"><img src="./assets/img/facebook.svg" alt=""></a>
                            <a href="#" class="pr-4 pl-4"><img src="./assets/img/instagram.svg" alt=""></a>
                            <a href="#" class="pr-4 pl-4"><img src="./assets/img/twitter.svg" alt=""></a>
                            <a href="#" class="pl-4"><img src="./assets/img/whatsapp.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul>
                        <li><a href="#" target="blank_">contacto</a></li>
                        <li><a href="#" target="blank_">Trabaja con nosotros</a></li>
                        <li><a href="#" target="blank_">Condiciones de cancelación</a></li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul>
                        <li><a href="#" target="blank_">Nuestros parqueaderos</a></li>
                        <li><a href="#" target="blank_">Política de cookies</a></li>
                    </ul>
                </div>
                <div class="col-sm redes pt-5 pb-5">
                    <p class="text-center">
                        <img src="./assets/img/logo_blanco.svg" alt="">
                    </p>
                    <p class="text-center">Descarga nuestra app en:</p>
                    <div class="row align-items-center justify-content-center">
                        <div class="col-sm">
                            <a href="#">
                                <img src="./assets/img/playstore.svg" class="img-fluid" alt="playstore movid">
                            </a>
                        </div>
                        <div class="col-sm">
                            <a href="#">
                                <img src="./assets/img/appstore.svg" class="img-fluid" alt="appstore movid">
                            </a>
                        </div>
                        <!-- <a href="#" target="blank_">
                            <img src="./assets/img/home/footer_linkedin.svg" class="img-fluid" alt="Responsive image">
                        </a>
                        <a href="#" target="blank_">
                            <img src="./assets/img/home/footer_instagram.svg" class="img-fluid" alt="Responsive image">
                        </a>
                        <a href="#" target="blank_">
                            <img src="./assets/img/home/footer_facebook.svg" class="img-fluid" alt="Responsive image">
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prefooter2 pt-2 pb-2">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Política de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Términos de Uso</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Aviso Legal</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Vista de accesibilidad</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><span>Derechos de autor 2020 Ideamos más. Todos los derechos reservados.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>