<section class="row cuenta-sidebar">
    <div class="col-sm">
        <ul class="pt-3 pb-3">
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/datos-personales']"><img src="./assets/img/cuenta/list-icon.svg">Mis datos personales</a>
            </li>
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/reservas']"><img src="./assets/img/cuenta/reservas-icon-gray.png">Mis reservas</a>
            </li>
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/favoritos']"><img src="./assets/img/cuenta/hearth-icon.svg">Mis favoritos</a>
            </li>
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/metodos-de-pago']"><img src="./assets/img/cuenta/pay-icon.svg">Método de pago</a>
            </li>
        </ul>
        <ul>
            <li routerLinkActive="active" class="interna-crearparqueadero">
                <a class="text-white bg-red" [routerLink]="['/parqueadero']"><img src="./assets/img/cuenta/mas-icon2.png">Crear parqueadero</a>
            </li>
        </ul>
        <ul class="pt-3 pb-3">
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/parqueaderos']"><img src="./assets/img/cuenta/parking-icon-p.svg">Mis parqueaderos</a>
            </li>
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/promociones']"><img src="./assets/img/cuenta/hearth-icon.svg">Promociones</a>
            </li>
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/eventos']"><img src="./assets/img/cuenta/pay-icon.svg">Eventos</a>
            </li>
            <li routerLinkActive="active">
                <a class="text-black-gray" [routerLink]="['/paquetes']"><img src="./assets/img/cuenta/parking-icon-p.svg">Paquetes</a>
            </li>
        </ul>
        <ul class="pt-3 pb-3">
            <li>
                <a class="text-red2" [routerLink]="['/login']"><img src="./assets/img/cuenta/back-icon.svg">Cerrar sesión</a>
            </li>
            <li>
                <a class="text-gray-light2" [routerLink]="['/login']"><img src="./assets/img/cuenta/sad-icon.svg">Desactivar cuenta</a>
            </li>
        </ul>
    </div>
</section>