<div class="pt-5 row align-self-center justify-content-center">
    <p class="text-red m-0">¿Aún no tienes una cuenta?</p>
    <nav class="ml-3 select-auth-register navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        REGÍSTRATE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" (click)="router.navigate(['/usuario/registro-otp']);">
                            <img src="./assets/img/auth/soy-persona-icon.svg" alt="" class="img-fluid">
                            <span>Soy usuario</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="router.navigate(['/registro-empresa']);">
                            <img src="./assets/img/auth/soy-empresa-icon.svg" alt="" class="img-fluid">
                            <span>Soy empresa</span>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>