<form autocomplete="off" (ngSubmit)="onSubmitUser()" [formGroup]="formUser" class="row justify-content-center align-self-center">
    <div class="col-md-10">
        <div class="col-sm pb-3 mt-5">
            <h2 class="title-red text-center">REGISTRO PERSONA</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-4">
                    <input type="text" name="name" class="form-control form-control-lg style-form-auth" placeholder="Nombre completo" formControlName="name" [class.is-invalid]="nameNoValid">
                    <small class="form-text text-danger col-sm-12 p-0" *ngIf="nameNoValid">
                        El nombre es obligatorio
                    </small>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-2">
                    <input type="text" name="lastName" class="form-control form-control-lg style-form-auth" placeholder="Apellidos" formControlName="lastName" [class.is-invalid]="lastnameNoValid">
                    <small class="form-text text-danger col-sm-12 p-0" *ngIf="lastnameNoValid">
                        El apellido es obligatorio
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-4">
                    <input type="text" name="otp" class="form-control form-control-lg style-form-auth" placeholder="Código" formControlName="otp" [class.is-invalid]="otpNoValid">
                    <small class="form-text text-danger col-sm-12 p-0" *ngIf="otpNoValid">
                        El código es obligatorio
                    </small>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-2">
                    <input type="text" name="phone" class="form-control form-control-lg style-form-auth" placeholder="Teléfono" formControlName="phone" [class.is-invalid]="phoneNoValid">
                    <small class="form-text text-danger col-sm-12 p-0" *ngIf="phoneNoValid">
                        El teléfono es obligatorio
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group mb-4">
                    <input type="email" name="email" class="form-control form-control-lg style-form-auth" placeholder="Correo electrónico" formControlName="email" [class.is-invalid]="emailNoValid">
                    <small class="form-text text-danger col-sm-12 p-0" *ngIf="emailNoValid">
                        El correo es obligatorio
                    </small>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm">
                <div class="input-group mb-4">
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-lg style-form-auth" placeholder="Contraseña">
                    <span *ngIf="!password.valid && password.touched">
                        Password obligatorio
                    </span>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group mb-4">
                    <input type="password" class="form-control form-control-lg style-form-auth" placeholder="Confirmar contraseña">
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-sm text-left">
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                    <label class="form-check-label text-gray-light text-font14" for="autoSizingCheck2">
                        Acepto los <a href="#" class="text-red-light">términos y condiciones</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm text-left">
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                    <label class="form-check-label text-gray-light text-font14" for="autoSizingCheck2">
                        Acepto recibir comunicaciones de empresas relacionadas con <a href="#" class="text-red-light">diversos sectores</a> por cualquier medio adecuadas a mi perfil
                    </label>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm mb-2">
                <input type="submit" class="btn btn-red btn-block" value="SIGUIENTE">
            </div>
        </div>
        <div class="row">
            <div class="col-sm mb-3 text-center">
                <span class="text-font15 text-gray-light">Quiero registrarme como </span><a href="#" class="text-red-light text-font15">Empresa</a>
            </div>
        </div>
    </div>
</form>