<div class="modal fade" id="necesitasAyuda" tabindex="-1" role="dialog" aria-labelledby="necesitasAyuda" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 class="mb-4">¿Necesitas ayuda?</h2>
                <div class="media align-items-center mb-2">
                    <img class="align-self-center mr-3" src="./assets/img/llama-a-nuestras lineas.svg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h4 class="mt-0">Llama <br> a nuestras líneas</h4>
                        <p class="mb-0 font-weight300">+57 321 755 28 03<br>+57 321 755 28 03</p>
                    </div>
                </div>
                <div class="media align-items-center mb-2">
                    <img class="align-self-center mr-3" src="./assets/img/escribir-correo.svg" alt="Generic placeholder image">
                    <div class="media-body media-middle">
                        <h4 class="mt-0">Escríbenos <br> un correo</h4>
                        <p class="mb-0 font-weight300">info@movid.com<br>asistencia@movid.com</p>
                    </div>
                </div>
                <div class="media align-items-center">
                    <img class="align-self-center mr-3" src="./assets/img/comunicate-whatsapp.svg" alt="Generic placeholder image">
                    <div class="media-body">
                        <h4 class="mt-0">Comunícate <br/>vía whatsapp</h4>
                        <p class="mb-0 font-weight300">Si quieres contactarnos vía WhatsApp solo necesitas dar</p>
                        <a href="" class="btn btn-whatsapp mt-3">Click aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>