<app-navbar></app-navbar>
<section class="container-cuenta">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm">
                <h4 class="title-red pb-3">Datos personales</h4>
                <div class="card card-cuenta">
                    <div class="card-body datos-personales">
                        <div class="row pl-3 pr-3">
                            <div class="col-sm-4 pb-3 pt-3">
                                <h5 class="card-title">Nombre completo</h5>
                                <p class="card-text text-font16"><b>Juan Camilo</b></p>
                            </div>
                            <div class="col-sm-4 pb-3 pt-3">
                                <h5 class="card-title">Tipo de cuenta</h5>
                                <p class="card-text text-font16"><b>Usuario</b></p>
                            </div>
                            <div class="col-sm-4 pb-3 pt-3">
                                <h5 class="card-title">Teléfono</h5>
                                <p class="card-text text-font16"><b>3124545454</b></p>
                            </div>
                            <div class="col-sm-4 pb-3 pt-3">
                                <h5 class="card-title">Idioma</h5>
                                <p class="card-text text-font16"><b>ESPAÑOL</b></p>
                            </div>
                            <div class="col-sm-4 pb-3 pt-3">
                                <h5 class="card-title">Correo electrónico</h5>
                                <p class="card-text text-font16"><b>admin@neuromedia.com.co</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-button text-center pt-4">
                    <a href="" class="btn btn-red">Editar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer2></app-footer2>