<app-navbar></app-navbar>
<section class="container-cuenta">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-4">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm">
                <div class="card card-cuenta">
                    <div class="card-body">
                        <div class="row pl-3 pr-3">
                            <h4 class="title-red m-0">Historial de reservas</h4>
                        </div>
                    </div>
                </div>
                <div class="row pt-4 pb-0">
                    <div class="col">
                        <h4 class="title-red">Junio</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-4 pb-0">
                    <div class="col">
                        <h4 class="title-red">Julio</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-4 pb-0">
                    <div class="col">
                        <h4 class="title-red">Agosto</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="card-body">
                                <div class="media">
                                    <img src="./assets/img/cuenta/img-reservas.png" class="mr-5" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1 text-gray-color1 text-font15">Parqueadero de prueba</h5>
                                        <p class="mb-1 text-gray-color2">Carrera 1 No. 27 - 23</p>
                                        <p class="mb-1 text-blue font-weight600">$5.000</p>
                                        <span class="row col align-items-center">
                                            <ul class="row col mb-0">
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                                <li><img src="./assets/img/cuenta/starfill.svg"></li>
                                            </ul>
                                            <small class="text-gray-light">3 comentarios</small>
                                        </span>
                                        <div class="row justify-content-center pt-2 pb-1">
                                            <button class="btn btn-gray-xs-outline mr-2">Detalles</button>
                                            <button class="btn btn-red-xs-outline">Cancelar reserva</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer2></app-footer2>