<app-navbar></app-navbar>
<section class="login">
    <div class="container">
        <app-change></app-change>
        <div class="pt-4 pb-5 row">
            <div class="pt-4 col-sm form-auth p-0">
                <div class="container">
                    <div class="col-sm-12 text-center">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['registro-otp']">Código</button>
                            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['registro-persona']">Registro</button>
                            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['registro-pass']">Contraseña</button>
                        </div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
            <div class="col-sm p-0">
                <img src="assets/img/auth/registro_persona.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</section>