<footer>
    <div class="prefooter2 mt-2 pt-3 pb-3">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Política de privacidad</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Términos de Uso</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Aviso Legal</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><a href="#" target="blank_">Vista de accesibilidad</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">
                    <ul>
                        <li class="text-center"><span>Derechos de autor 2020 Ideamos más. Todos los derechos reservados.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>