<div class="explore-details-intern col-sm pt-3 border-radius-bottom-15 bg-white-p sticky-top mt-5">
    <div class="col-sm">
        <ul class="row align-items-center justify-content-between border-solid-bottom-gray pb-2">
            <li>
                <a [routerLink]="['explorar']" class="text-black-gray"><i class="fas fa-list mr-2"></i>Listado</a>
            </li>
            <li>
                <a href="" class="text-black-gray"><i class="fas fa-chevron-left mr-2"></i>Anterior</a>
            </li>
            <li>
                <a href="" class="text-black-gray">Siguiente<i class="fas fa-chevron-right ml-2"></i></a>
            </li>
        </ul>
    </div>
    <div class="row align-items-center pb-2">
        <div class="col-sm-8">
            <p class="m-0 text-black-gray">Calle 98 # 77 - 80</p>
            <h5 class="mt-0 mb-1 text-gray-color1 text-font15">{{parqueadero.nombre}}</h5>
        </div>
        <div class="col-sm-4">
            <p class="text-right m-0 text-black-gray"><img src="./assets/img/cuenta/hearth.svg" alt=""> Favoritos</p>
        </div>
    </div>
</div>

<div class="container bg-white-p pt-3 pb-3 mt-4">
    <div class="row align-items-center justify-content-center">
        <p class="text-center">
            <img src="./assets/img/explorar/img-details.png" class="rounded-lg" alt="...">
        </p>
        <div class="container">
            <ul class="row w-100 m-0 align-items-center justify-content-between">
                <li><img src="./assets/img/cuenta/img-reservas.png" alt=""></li>
                <li><img src="./assets/img/cuenta/img-reservas.png" alt=""></li>
                <li><img src="./assets/img/cuenta/img-reservas.png" alt=""></li>
                <li><img src="./assets/img/cuenta/img-reservas.png" alt=""></li>
            </ul>
        </div>
    </div>
</div>

<div class="d-contents">
    <nav class="w-100 mt-3">
        <div class="nav nav-tabs align-items-center justify-content-center" id="nav-tab" role="tablist">
            <a class="rounded-0 w-25 nav-item nav-link text-center active" id="nav-detalles-tab" data-toggle="tab" href="#nav-detalles" role="tab" aria-controls="nav-detalles" aria-selected="true">Detalles</a>
            <a class="rounded-0 w-25 nav-item nav-link text-center" id="nav-promociones-tab" data-toggle="tab" href="#nav-promociones" role="tab" aria-controls="nav-promociones" aria-selected="false">Promociones</a>
            <a class="rounded-0 w-25 nav-item nav-link text-center" id="nav-eventos-tab" data-toggle="tab" href="#nav-eventos" role="tab" aria-controls="nav-eventos" aria-selected="false">Eventos</a>
            <a class="rounded-0 w-25 nav-item nav-link text-center" id="nav-paquetes-tab" data-toggle="tab" href="#nav-paquetes" role="tab" aria-controls="nav-paquetes" aria-selected="false">Paquetes</a>
        </div>
    </nav>
    <div class="tab-content width-webkit" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-detalles" role="tabpanel" aria-labelledby="nav-detalles-tab">
            <div class="container">
                <div class="row">
                    <div class="col-sm bg-white-p p-2 m-2">
                        <p class="text-black-gray m-0">Llegada</p>
                        <p class="text-black-gray font-weight600 m-0">Martes 2 de junio</p>
                        <p class="text-black-gray m-0">10:00 pm</p>
                    </div>
                    <div class="col-sm bg-white-p p-2 m-2">
                        <p class="text-black-gray m-0">Vehículo</p>
                        <p class="text-black-gray font-weight600 m-0">Martes 2 de junio</p>
                        <p class="text-black-gray m-0">Plaza No. 12</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm bg-white-p p-2 m-2">
                        <p class="text-black-gray m-0">Salida</p>
                        <p class="text-black-gray font-weight600 m-0">Miercoles 2 de junio</p>
                        <p class="text-black-gray m-0">10:00 pm</p>
                    </div>
                    <div class="col-sm bg-white-p p-2 m-2">
                        <p class="text-black-gray m-0">Duración</p>
                        <p class="text-black-gray font-weight600 m-0">24 horas</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm bg-white-p p-2 m-2">
                        <p class="text-black-gray font-weight600 m-0">Comodidades</p>
                        <ul class="row w-100 m-0 align-items-center justify-content-between">
                            <li>
                                <p class="text-black-gray m-0"><img class="pr-2" src="./assets/img/explorar/invalido.svg" alt="">Inclusivo</p>
                            </li>
                            <li>
                                <p class="text-black-gray m-0"><img class="pr-2" src="./assets/img/explorar/car-cover.svg" alt="">Pavimentado</p>
                            </li>
                            <li>
                                <p class="text-black-gray m-0"><img class="pr-2" src="./assets/img/explorar/car-cover.svg" alt="">Cámaras</p>
                            </li>
                            <li>
                                <p class="text-black-gray m-0"><img class="pr-2" src="./assets/img/explorar/car-cover.svg" alt="">Cubierto</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm bg-white-p p-2 m-2">
                        <p class="text-black-gray font-weight600 m-0">Detalles</p>
                        <ul class="w-100 m-0">
                            <li>
                                <p class="text-black-gray m-0"><i class="fas fa-circle pr-2"></i>Entrada por la carretera 98</p>
                            </li>
                            <li>
                                <p class="text-black-gray m-0"><i class="fas fa-circle pr-2"></i>Salida hacia el sur de la ciudad</p>
                            </li>
                            <li>
                                <p class="text-black-gray m-0"><i class="fas fa-circle pr-2"></i>Servicio de valet parking</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm bg-white-p p-2 m-2">
                        <p class="text-black-gray font-weight600">Descripción</p>
                        <p class="text-black-gray">Este parking de Barcelona está situado en la Plaça Bonsuccés, muy cerca de Raval, la Plaça Catalunya y las Ramblas. Al parking NN Bonsuccés solo puedes acceder por la calle La Rambla, girando después por la carrer del Bonsuccés
                            hasta llegar a la Plaça Bonsuccés, ya que la plaza es de único sentido y no permite acceso por otro lado. Está abierto las 24 horas los 365 días del año, así tendrás total flexibilidad para aparcar en Las Ramblas o en La Boquería.</p>
                        <p class="text-black-gray">¿De visita por Barcelona? Entonces no te puedes perder la prestigiosa avenida barcelonesa de La Rambla, característica por la cantidad de comercios, tiendas y restaurantes que hay en ella. Este parking es ideal si quieres aparcar
                            cerca del Mercado La Boquería porque está muy cerca. Este mercado es el más grande de Cataluña y ofrece un sin fin de productos tanto locales como exóticos, y estamos seguros de que no podrás resistirte a gastarte algún dinerillo
                            en alguno de sus más de 300 puestos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-promociones" role="tabpanel" aria-labelledby="nav-promociones-tab">
            <div class="col-sm-12">
                <div class="card card-cuenta card-style1 mt-3 animated fadeIn fast mb-3">
                    <div class="card-body">
                        <img src="./assets/img/explorar/etiqueta_promo.svg" class="mr-2 rounded-lg brand" alt="...">
                        <img src="./assets/img/explorar/guardado_inactivo.svg" class="mr-2 rounded-lg tag" alt="...">
                        <div class="media">
                            <img src="./assets/img/explorar/img-promo.svg" class="mr-2 rounded-lg" alt="...">
                            <div class="media-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h5 class="m-0 text-red2 text-font20">4 horas + lavado</h5>
                                            <p class="m-0 text-black-gray text-font13"><b>Viernes</b> 03 de septiembre de 2020</p>
                                            <p class="m-0 text-black-gray text-font13"><b>Vigencia</b> Hasta las 5:00 pm</p>
                                            <br>
                                            <p class="m-0 text-black-gray text-font13">Categoría: <b>Automóvil</b></p>
                                            <p class="m-0 text-black-gray text-font13">Cantidad: <b>12 horas</b></p>
                                            <p class="m-0 text-black-gray text-font13">Desde: <b>12:00 pm</b></p>
                                            <p class="m-0 text-black-gray text-font13">Hasta: <b>07:00 pm</b></p>
                                        </div>
                                        <div class="col-sm-3 row align-items-end">
                                            <div class="justify-content-center flex-column">
                                                <p class="mb-1 btn-text-blue font-weight600 text-center">$5.000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-eventos" role="tabpanel" aria-labelledby="nav-eventos-tab">
            <div class="col-sm-12">
                <div class="card card-cuenta card-style1 mt-3 animated fadeIn fast mb-3">
                    <div class="card-body">
                        <img src="./assets/img/explorar/arrow-eventos.png" class="mr-2 rounded-lg arrow-events" alt="...">
                        <div class="media">
                            <img src="./assets/img/explorar/img-promo.svg" class="mr-2 rounded-lg" alt="...">
                            <div class="media-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h5 class="m-0 text-red2 text-font20">FESTIVAL UNIROCK</h5>
                                            <p class="m-0 text-black-gray text-font13">Cali, Valle del Cauca</p>
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <p class="m-0 text-black-gray text-font16"><b>Viernes</b></p>
                                                    <p class="m-0 text-black-gray text-font13">03 de septiembre de 2020</p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="m-0 text-black-gray text-font16"><b>Ubicación:</b></p>
                                                    <p class="m-0 text-black-gray text-font13">Carrera 5 No. 34 - 53</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-paquetes" role="tabpanel" aria-labelledby="nav-paquetes-tab">
            <div class="col-sm-12">
                <div class="card card-cuenta card-style1 mt-3 animated fadeIn fast mb-3">
                    <div class="card-body">
                        <img src="./assets/img/explorar/guardado_activo.svg" class="mr-2 rounded-lg tag" alt="...">
                        <div class="media">
                            <img src="./assets/img/explorar/img-promo.svg" class="mr-2 rounded-lg" alt="...">
                            <div class="media-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h5 class="m-0 text-red2 text-font20">FESTIVAL UNIROCK</h5>
                                            <p class="m-0 text-black-gray text-font13"><b>Viernes</b> 03 de septiembre de 2020</p>
                                            <p class="m-0 text-black-gray text-font13"><b>Vigencia</b> Hasta las 5:00 pm</p>
                                            <br>
                                            <p class="m-0 text-black-gray text-font13">Categoría: <b>Automóvil</b></p>
                                            <p class="m-0 text-black-gray text-font13">Cantidad: <b>12 horas</b></p>
                                            <p class="m-0 text-black-gray text-font13">Desde: <b>12:00 pm</b></p>
                                            <p class="m-0 text-black-gray text-font13">Hasta: <b>12:00 am</b></p>
                                        </div>
                                        <div class="col-sm-3 row align-items-end">
                                            <div class="justify-content-center flex-column">
                                                <p class="mb-1 btn-text-blue font-weight600 text-center">$18.000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-cuenta card-style1 mt-3 animated fadeIn fast mb-3">
                    <div class="card-body">
                        <img src="./assets/img/explorar/guardado_activo.svg" class="mr-2 rounded-lg tag" alt="...">
                        <div class="media">
                            <img src="./assets/img/explorar/img-promo.svg" class="mr-2 rounded-lg" alt="...">
                            <div class="media-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h5 class="m-0 text-red2 text-font20">FESTIVAL UNIROCK</h5>
                                            <p class="m-0 text-black-gray text-font13"><b>Viernes</b> 03 de septiembre de 2020</p>
                                            <p class="m-0 text-black-gray text-font13"><b>Vigencia</b> Hasta las 5:00 pm</p>
                                            <br>
                                            <p class="m-0 text-black-gray text-font13">Categoría: <b>Automóvil</b></p>
                                            <p class="m-0 text-black-gray text-font13">Cantidad: <b>12 horas</b></p>
                                            <p class="m-0 text-black-gray text-font13">Desde: <b>12:00 pm</b></p>
                                            <p class="m-0 text-black-gray text-font13">Hasta: <b>12:00 am</b></p>
                                        </div>
                                        <div class="col-sm-3 row align-items-end">
                                            <div class="justify-content-center flex-column">
                                                <p class="mb-1 btn-text-blue font-weight600 text-center">$18.000</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="explore-details-intern col-sm pt-4 pb-4 border-radius-top-15 bg-white-p sticky-bottom text-center">
    <div class="input-group btn-green-reserva">
        <div class="input-group-prepend">
            <span class="input-group-text font-weight600" id="inputGroupPrepend">$58.000</span>
        </div>
        <input type="submit" class="form-control font-weight600" id="validationCustomUsername" value="Reservar ahora" aria-describedby="inputGroupPrepend" required="">
    </div>
</div>