<app-como-funciona></app-como-funciona>
<app-necesitas-ayuda></app-necesitas-ayuda>
<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./assets/img/logo_color.png" width="auto" height="40" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <app-item-menu></app-item-menu>
    </div>
</nav>

<section class="main-container">
    <div class="banner card text-white">
        <img src="./assets/img/home/bg.png" class="card-img" alt="...">
        <div class="card-img-overlay container text-center d-flex flex-column justify-content-center">
            <h1 class="elige-donde-estacion">Elige donde estacionarte antes de llegar a tu destino.</h1>
            <h4 class="reserva-tu-parqueade">Reserva tu parqueadero de forma ágil, fácil y segura. </h4>
        </div>
    </div>
    <div class="section1 pt-5 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <p class="movid-es-la-platafor"><strong>Movid</strong> es la plataforma de parqueo que te ayuda a encontrar y ofrece parqueaderos públicos o privados cuando lo requieras en un solo lugar y al alcance de tus manos.</p>
                </div>
                <div class="col-sm-6">
                    <img src="./assets/img/home/seccion1_img.png" class="card-img" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="section2 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="animate-a-encontrar">Anímate a encontrar tu estacionamiento con anticipación y reservarlo, conoce Movid, es muy fácil</p>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                        <div class="mb-3">
                            <div class="row">
                                <div class="media">
                                    <img src="./assets/img/home/seccion2_icono1.png" class="align-self-center mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="mt-0">Encuentra un parqueadero</h5>
                                        <p class="mb-0">Puedes buscar un barrio, una zona o un lugar concreto.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-3">
                            <div class="row">
                                <div class="media">
                                    <img src="./assets/img/home/seccion2_icono2.png" class="align-self-center mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="card-title">Realiza tu reserva</h5>
                                        <p class="card-text">Visualiza parqueaderos, compara y completa tu reserva</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="mb-3">
                            <div class="row">
                                <div class="media">
                                    <img src="./assets/img/home/seccion2_icono3.png" class="align-self-center mr-3" alt="...">
                                    <div class="media-body">
                                        <h5 class="card-title">Ahora parquea</h5>
                                        <p class="card-text">Una vez realices tu reserva estás listo para parquear</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section3 pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <p class="pruebala-ya">¡Pruebala ya! Descargala en tu dispositivo móvil</p>
                </div>
                <div class="col-2 text-center">
                    <img src="./assets/img/home/appstore.png" alt="...">
                </div>
                <div class="col-2 text-center">
                    <img src="./assets/img/home/playstore.png" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="section5 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="card text-white">
                    <img src="./assets/img/home/seccion4_bg.png" class="card-img" alt="...">
                    <div class="card-img-overlay container text-center d-flex flex-column justify-content-center">
                        <p class="todavia-no-encuentra mt-3"><b>¿Todavía no encuentras un espacio para dejar tu vehículo?</b> <br>Nosotros te ayudamos a buscarlo</p>
                        <p class="text-center mt-1 mb-3">
                            <button type="button" class="btn btn-red">Escríbenos</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section6 pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-between beneficios">
                <div class="col-12 text-center">
                    <p class="te-ayudamos-a-locali">Te ayudamos a localizar un parqueadero<br> cerca de tu destino con múltiples beneficios.</p>
                    <p class="te-ayudamos-a-locali2">Reserva y cuenta con tu espacio disponible a los mejores precios.</p>
                </div>
                <div class="col-sm text-center">
                    <div class="card">
                        <img src="./assets/img/home/seccion5_icono1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><b>Encontramos el parqueo</b> que se ajuste a lo que quieres para tu comodidad y tranquilidad.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <div class="card">
                        <img src="./assets/img/home/seccion5_icono2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><b>Cuenta con los mejores precios</b> y descuentos.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <div class="card">
                        <img src="./assets/img/home/seccion5_icono3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Contamos con un <b>servicio amigable de pagos en línea.</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <div class="card">
                        <img src="./assets/img/home/seccion5_icono4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Usa la App Movid de <b>ingreso, salida y pago.</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                    <div class="card">
                        <img src="./assets/img/home/seccion5_icono5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Te enviamos en tiempo real <b>notificaciones del servicio.</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section7 pt-5 pb-5">
        <div class="container">
            <div class="row align-items-center oferta">
                <div class="col-sm">
                    <p class="cuentas-con-un-parq">¿Cuentas con un parqueadero ó espacio disponible?</p>
                    <p class="ofertalo-en-movid-y">Ofertalo en Movid y aumenta tus ingresos de forma fácil y segura, solo debes registrar tu estacionamiento para ser usado por un usuario de nuestra plataforma.</p>
                    <button type="button" class="btn btn-red">Registro de oferta de parqueo</button>
                </div>
                <div class="col-sm">
                    <img src="./assets/img/home/seccion5_foto.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
    <div class="section8 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="media">
                        <img src="./assets/img/home/seccion7_icono1.svg" class="align-self-start mr-3 " alt="...">
                        <div class="media-body align-self-end">
                            <h5 class="mb-0 empresas">Empresas</h5>
                        </div>
                    </div>
                    <p class="mt-4 movid-te-ofrece-las">Movid te ofrece las mejores ofertas y <b>te ayuda a gestionar de forma ágil, fácil y segura la mejor solución de parqueo</b> para el estacionamiento de tu equipo de trabajo.</p>
                </div>
                <div class="col-sm">
                    <img src="./assets/img/home/seccion7_icono2.svg" class="img-fluid" alt="Responsive image">
                    <p class="mt-4 movid-te-ofrece-las"><b>Te apoyamos a encontrar y reservar tu estacionamiento</b>, te ofrecemos una solución que favorece la movilidad de la ciudad sin congestionar nuestras calles.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer2></app-footer2>