<ul class="navbar-nav ml-auto menu-main">
    <li class="nav-item" routerLinkActive="active">
        <a href="#" class="nav-link" data-toggle="modal" data-target="#comoFunciona"><img src="./assets/img/question.png" class="pr-2"> ¿Cómo funciona?</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#"><img src="./assets/img/nosotros_logo.png" class="pr-2">Nosotros</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a href="#" class="nav-link border-gray text-gray-light2 font-weight600" data-toggle="modal" data-target="#necesitasAyuda"><img src="./assets/img/ayuda.png" class="pr-2">¿Necesitas ayuda?</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">Registrate</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link account btn-red-sm" [routerLink]="['login']"><img src="./assets/img/account.png" class="pr-2">Mi cuenta</a>
    </li>
</ul>