<app-navbar></app-navbar>
<section class="container-cuenta">
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-sm">
                <div class="card card-cuenta">
                    <div class="card-body">
                        <div class="row justify-content-between pt-3 pb-3 pl-3 pr-3">
                            <h4 class="title-red m-0">Paquetes</h4>
                            <span class="create-plus text-red2">Crear nuevo paquete
                                <a href="#"><div class="plus"></div></a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="row align-items-center card-hover">
                                <div class="col-sm-5">
                                    <div class="card-body">
                                        <div class="media">
                                            <img src="./assets/img/cuenta/img-reservas.png" class="mr-2" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-0 text-red2 text-font16">4 horas mas lavado</h5>
                                                <p class="mb-0 text-gray-color2 text-font13"><b class="text-black-gray">Viernes</b> 03 de septiembre de 2020</p>
                                                <p class="mb-0 text-gray-color2 text-font13">Vigencia: <b class="text-black-gray">Hasta las 5:00 pm</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p class="mt-0 mb-0 text-font15 text-red2 font-weight500">4 horas mas lavado</p>
                                    <p class="mb-0 text-gray-color2 text-font13">Categoría: <b class="text-black-gray">Automóvil</b></p>
                                    <p class="mb-0 text-gray-color2 text-font13">Cantidad: <b class="text-black-gray">12 horas</b></p>
                                </div>
                                <div class="col-sm-2">
                                    <h5 class="mt-0 mb-0 text-gray-color1 text-font15"></h5>
                                    <p class="mb-0 text-gray-color2 text-font13">Desde: <b class="text-black-gray">12:00 pm</b></p>
                                    <p class="mb-0 text-gray-color2 text-font13">Hasta: <b class="text-black-gray">07:00 pm</b></p>
                                </div>
                                <div class="col-sm-2">
                                    <div class="row justify-content-center pt-2 pb-1">
                                        <span class="btn-text-blue font-weight600">$50.000</span>
                                    </div>
                                </div>
                                <div class="row m-0 reveal justify-content-center align-items-center">
                                    <a href="#" class="btn mb-2 mt-2 pr-4 pl-4 mr-2">
                                        <div class="row justify-content-center align-items-center">
                                            <i class="fas fa-pen mr-2"></i>
                                            <p class="m-0 text-font14" style="height:20px">EDITAR</p>
                                        </div>
                                    </a>
                                    <a href="#" class="btn mb-2 mt-2 pr-4 pl-4 ml-2">
                                        <div class="row justify-content-center align-items-center">
                                            <i class="fas fa-trash mr-2" aria-hidden="true"></i>
                                            <p class="m-0 text-font14" style="height:20px">ELIMINAR</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 pt-4">
                        <div class="card card-cuenta card-style1">
                            <div class="row align-items-center card-hover">
                                <div class="col-sm-5">
                                    <div class="card-body">
                                        <div class="media">
                                            <img src="./assets/img/cuenta/img-reservas.png" class="mr-2" alt="...">
                                            <div class="media-body">
                                                <h5 class="mt-0 mb-0 text-red2 text-font16">4 horas mas lavado</h5>
                                                <p class="mb-0 text-gray-color2 text-font13"><b class="text-black-gray">Viernes</b> 03 de septiembre de 2020</p>
                                                <p class="mb-0 text-gray-color2 text-font13">Vigencia: <b class="text-black-gray">Hasta las 5:00 pm</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <p class="mt-0 mb-0 text-font15 text-red2 font-weight500">4 horas mas lavado</p>
                                    <p class="mb-0 text-gray-color2 text-font13">Categoría: <b class="text-black-gray">Automóvil</b></p>
                                    <p class="mb-0 text-gray-color2 text-font13">Cantidad: <b class="text-black-gray">12 horas</b></p>
                                </div>
                                <div class="col-sm-2">
                                    <h5 class="mt-0 mb-0 text-gray-color1 text-font15"></h5>
                                    <p class="mb-0 text-gray-color2 text-font13">Desde: <b class="text-black-gray">12:00 pm</b></p>
                                    <p class="mb-0 text-gray-color2 text-font13">Hasta: <b class="text-black-gray">07:00 pm</b></p>
                                </div>
                                <div class="col-sm-2">
                                    <div class="row justify-content-center pt-2 pb-1">
                                        <span class="btn-text-blue font-weight600">$50.000</span>
                                    </div>
                                </div>
                                <div class="row m-0 reveal justify-content-center align-items-center">
                                    <a href="#" class="btn mb-2 mt-2 pr-4 pl-4 mr-2">
                                        <div class="row justify-content-center align-items-center">
                                            <i class="fas fa-pen mr-2"></i>
                                            <p class="m-0 text-font14" style="height:20px">EDITAR</p>
                                        </div>
                                    </a>
                                    <a href="#" class="btn mb-2 mt-2 pr-4 pl-4 ml-2">
                                        <div class="row justify-content-center align-items-center">
                                            <i class="fas fa-trash mr-2" aria-hidden="true"></i>
                                            <p class="m-0 text-font14" style="height:20px">ELIMINAR</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer2></app-footer2>